<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/icon" href="/images/images-1.png">
  <title>File List Lab</title>
</head>
<body>

<%= yield %>

</body>
</html>